extends layout

block content
  - function capitalize(str){ return str.charAt(0).toUpperCase() + str.slice(1); }
  .category-title #{capitalize(tag)} category
  - each post in posts
    include includes/post
