
body {
  background: #f1f1f1 url(/images/grid-18px-masked.png) repeat-x;
  padding-top: 0;
}

a {
  color: #399DD8;
  outline: none;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.navbar {  
  .navbar-inner {
    border-radius: 0;
    background: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  .container {
    width: 1000px;
  }
  
  .nav {
    margin: 4px 0 0;
    
    > li {
      > a {
        margin: 0 10px;
        border: 1px solid #bbb;
        font-weight: bold;
        padding: 5px 12px;
        border-radius: 5px;
      }
    }
  }
}

#yp-brand {
  float: left;
  padding: 0;
  margin-left: 0;
  
  img {
    width: 46px;
  }
  
  span {
    color: #333;
    font-size: 25px;
    font-weight: normal;
    position: relative;
    left: 14px;
    top: 3px;
  }
}

#site-content-body {
  margin-top: 30px;
  
  .span9 {
    width: 73%;
  }
  
  .span3 {
    width: 23%;
  }
}

.image-grid {
  img {
    margin: 4px 3px;
    background: #fff;
    padding: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .4);
  }
}

.sidebar {
  float: right;
  h3 {
    font-weight: normal;
    line-height: normal;
    margin: 0 0 20px;
  }
  
  .image-grid {
    margin-bottom: 30px;
    img {
      width: 55px;
    }
  }
}

.blog-post {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
  
  header {
    padding: 10px 30px 22px;
    border-bottom: 1px solid #ccc;
    
    .title {
      display: block;
      color: #FBC21A;
    }
    
    .author {
      img {
        width: 16px;
        border-radius: 5px;
        margin:-1px 4px 0 8px;
      }
    }
  }
  
  .body {
    white-space: normal;
    word-wrap: break-word;
    background: #f8f8f8;
    padding: 20px 30px;
    line-height: 23px;
    border-radius: 0 0 5px 5px;
    
    img {
      display: block;
      max-width: 80%;
      margin: 20px auto;
    }
  }
}

#hero {
  border-radius: 5px;
  margin: 0 auto;
  width: 1000px;
  background: #fff;
  height: 200px;
  overflow: hidden;
  position: relative;

  img {
    display: block;
  }
  
  .caption {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    padding: 5px;
    color: #fff;
    text-align: right;
  }
}