gradient_background(start_color, stop_color)
  background linear-gradient(top, start_color, stop_color); /* Standard (W3C) */
  background -moz-linear-gradient(center top, start_color, stop_color); /* FF */
  background -webkit-gradient(linear, left top, left bottom, from(start_color), to(stop_color)); /* Chrome, Safari */
  background -o-linear-gradient(top, start_color, stop_color); /* Opera */

body {
  background: #fff url(/images/grid-18px-masked.png) repeat-x;
  padding-top: 0;
}

.navbar {
  .navbar-inner {
    border-radius: 0;
    background: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .container {
    width: 1000px;
    margin: 0 auto;
  }

  .nav {
    margin: 4px 0 0;

    > li {
      > a {
        margin: 0 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 6px 12px;
      }
    }
  }
}

#yp-brand {
  padding: 0;
  margin-left: 0;

  img {
    width: 46px;
  }

  span {
    color: #333;
    font-size: 25px;
    position: relative;
    left: 14px;
    top: 3px;
  }
}

#main-content {
  width: 1000px;
  margin: 30px auto;
}

.blog-post {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 50px;
  /*box-shadow: 0 1px 3px rgba(0, 0, 0, .2);*/

  header {
    padding: 30px;
    border-bottom: 1px dashed #ccc;

    .title {
      display: block;
      font-size: 30px;
      color: #ECAD02;
      color: #FBC21A;
      margin-bottom: 30px;
    }

    .author {
      width: 100px;
      overflow: hidden;
      text-align: right;

      img {
        vertical-align: middle;
        width: 16px;
        border-radius: 5px;
        margin:0 4px 0 8px;
      }
    }

    time {
      font-size: 12px;
      display: block;
    }
  }

  .body {
    padding: 20px 30px;
    line-height: 20px;

    img {
      display: block;
      max-width: 80%;
      margin: 0 auto;
    }
  }
}

.image-grid {
  img {
    margin: 4px 3px;
    background: #fff;
    padding: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .4);
  }
}

#yp-life {
  float: right;
  h3 {
    font-weight: normal;
    line-height: normal;
    margin: 0 0 20px;
  }

  .image-grid {
    img {
      width: 55px;
    }
  }
}

#blog {
  .span9 {
    width: 73%;
  }
}